{% extends 'templates/layout.twig' %}
{% block content %}
    <section class="col col-lg-12">
        <div class="container">
            <div class="row">
                <ul>
                    <li><strong>Nom : </strong>{{ contact.name }}</li>
                    <li><strong>Prénom :</strong>{{ contact.first_name }}</li>
                    <li><strong>E-mail : </strong>{{ contact.email }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col">
                    <a href="index.php?p=address.create&id={{ contact.id }}" class="btn btn-primary">Ajouter une
                        nouvelle
                        adresse</a>
                    {% if addresses is defined %}
                        <p class="h4 mb-4">List des adresses :</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"># id</th>
                                <th scope="col">Adresse ligne</th>
                                <th scope="col">Complement</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Pays</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in addresses %}
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.address_1 }}</td>
                                    <td>{{ item.address_2 }}</td>
                                    <td>{{ item.city }}</td>
                                    <td>{{ item.country }}</td>
                                    <td><a href="index.php?p=address.edit&id={{ item.id }}">Modifier</a></td>
                                    <td><a href="index.php?p=address.delete&id={{ item.id }}">Supprimer</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}